.track {
    position: relative;
    width: 100%;
    height: 6px;
    background-color: rgb(43, 43, 43);

    .thumb {
        position: absolute;
        background-color: rgb(82, 82, 82);
    }

    &.vertical {
        width: 6px;
        height: 100%;
    }
}