.anotation {
    background-color: #d7dfeb;
    padding: 6px 8px 0 6px;
    border-radius: 7px;
    border-top-left-radius: 0;
    box-shadow: 1px 3px 3px -1px rgba(0, 0, 0, 0.2);
    max-width: 200px;
    max-height: 300px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr auto;

    .controls {
        display: flex;
        flex-wrap: wrap;
        width: 16px;
        align-items: start;
        justify-content: center;
        max-height: 38px;

        .delete-button {
            cursor: pointer;
            border: medium none;
            border-spacing: 0;
            border-radius: 2px;
            color: #493030;
            background-color: transparent;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: 600;
            line-height: 1.42rem;
            list-style: none outside none;
            margin: 0;
            padding: 0;
            text-align: center;
            text-decoration: none;
            text-indent: 0;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 16px;
            height: 16px;
            margin-left: 4px;

            &:not(:last-child) {
                margin-right: 0;
            }
        }
    }

    .content {
        padding: 0;
        overflow: hidden;
    }

    .description {
        cursor: text;
        width: 100%;
        text-align: left;
        color: #494949;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 600;
        margin: 0 0 8px 0;
        text-overflow: ellipsis;
    }

    .image,
    .image>img {
        max-width: 64px;
        max-height: 64px;
    }

    .image {
        cursor: pointer;
        border-radius: 3px;
        overflow: hidden;
        padding-bottom: 6px;
    }
}