@let content = data();
@let loading = isLoading();
<div class="container">
    <ng-container *ngIf="!content || error; else image">
        <div class="image" (click)="onSelectImageHandler($event)">
            <dv-image-empty></dv-image-empty>
        </div>
    </ng-container>

    <ng-template #image>
        <div *ngIf="content" class="image" (click)="onSelectImageHandler($event)">
            <img [src]="content" (error)="onImageLoadingErrorHandler()" />
        </div>
    </ng-template>
    <div class="loading-indicator" *ngIf="loading">
        <dv-spinner></dv-spinner>
    </div>
</div>

<input #imagePicker class="image-picker" type="file" accept="image/png, image/jpeg"
    (change)="onFileSelectedHandler($event)" (cancel)="onFileSelectCanceledHandler()" />