@let content = data();
<div class="container">
    @if (!content || error) {
    <div class="image" (click)="onSelectImageHandler($event)">
        <dv-image-empty></dv-image-empty>
    </div>
    } @else if(content) {
    <div class="image" (click)="onSelectImageHandler($event)">
        <img [src]="content" (error)="onImageLoadingErrorHandler()" />
    </div>
    }
    @if (isLoading()) {
    <div class="loading-indicator">
        <dv-spinner></dv-spinner>
    </div>
    }
</div>

<input #imagePicker class="image-picker" type="file" accept="image/png, image/jpeg"
    (change)="onFileSelectedHandler($event)" (cancel)="onFileSelectCanceledHandler()" />