.anotation {
    background-color: #d7dfeb;
    padding: 6px 8px;
    border-radius: 7px;
    border-top-left-radius: 0;
    box-shadow: 1px 3px 3px -1px rgba(0, 0, 0, 0.2);
    max-width: 200px;
    max-height: 200px;

    .controls {
        display: flex;
        justify-content: end;

        .close-button,
        .create-button {
            cursor: pointer;
            border: medium none;
            border-spacing: 0;
            border-radius: 2px;
            color: #493030;
            background-color: transparent;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: 600;
            line-height: 1.42rem;
            list-style: none outside none;
            margin: 0;
            padding: 0;
            text-align: center;
            text-decoration: none;
            text-indent: 0;
            display: inline-flex;
            align-items: center;
            justify-content: center;

            width: 24px;
            height: 24px;

            &:not(:last-child) {
                margin-right: 0;
            }
        }
    }

    .content {
        padding-right: 24px;
    }

    .textarea {
        appearance: none;
        stroke: none;
        border-radius: 4px;
        border-color: #ffd4a2;
        background-color: #fff;
    }

    .description {
        width: 100%;
        text-align: left;
        color: #494949;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 800;
        margin: 0 0 8px 0;
    }
}